@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
        transition: all 1s;
        transition-timing-function: ease;
    }
    section#dados{
        width: 80vw;
        display: flex;
        flex-direction: row-reverse;
    }
     section#dados > div#imagem{
        width: 55%;
        height: 100%;
        
    }
    section#dados > div#userdata{
        width: 45%;
    } 
}

@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
        transition: all 1s;
        transition-timing-function: ease;
    }
    section#dados{
        width: 990px;
        display: flex;
        flex-direction: row-reverse;

    }
    section#dados > div#imagem{
        width: 55%;
        height: 100%;
    }

    section#dados > div#userdata{
        width: 45%;
    }
    div#userdata > p{
        font-size: 1.2em;
    }
    div#userdata > h1{
        font-size: 2em;
    }
}