@charset "UTF-8";

*{

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
    transition: background-color 1s;
    transition-timing-function: ease;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
div#modal{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.658);
    width: 100vw;
    height: 100vh;
    z-index: 1;
    transition: all 2s;
    transition-timing-function: ease;
    display: none;
}
div#erros{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    background-color: white;
    width: 250px;
    height: 250px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);       
}
div#erros > p{
    text-align: justify;
    font-size: 1em;
}
div#erros > input[type = "button"]{
    height: 30px;
    width: 40px;
    background-color: rgba(0, 128, 0);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
div#erros > input[type = "button"]:hover{
    background-color: rgba(0, 128, 0, 0.438);
    transition: all 1s;
    transition-timing-function: ease;
}
section#cadastro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    background-color: white;
    width: 310px;
    height: 550px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
    transition: width 1s, height 1s;
    transition-timing-function: ease;    
}

section#cadastro > div#imagem{
    display: block;
    background: #5f2c82 url(../../imgs/IMG-20220520-WA00001.jpg) no-repeat;
    height: 250px;
    background-size: cover;
    background-attachment: fixed;
    
}

section#cadastro > div#formulario{
    display: block;
    padding: 10px;

}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

form > div.campo{
    display: flex;
    background-color: #5f2c82;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
    color: white;
}

form > input[type="submit"]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
}

form > input[type="submit"]:hover{
    background-color: #49a09db9;    
    cursor: pointer;
}
fieldset{
    padding: 10px;
    border-radius: 10px;
    border-color: #5f2c82;
}
form  input[type="text"], input[type="password"], input[type="date"]{
    border-radius: 5px;
    height: 40px;
    width: 100%;
} 
form  input[type="text"]:placeholder-shown, input[type="password"]:placeholder-shown{
    font-weight: bold;
}
form > a.btn{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 7px;
    border: 1px solid #49a09d;
    border-radius: 5px;
    text-decoration: none;
    color: #49a09d;
}

form > a.btn:hover{
    background-color: #49a09db9;
}


